@use './../../../styles/fonts';
@use './../../../styles/variables';

.card__face {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    background-color: transparent;
    position: relative;
    position: absolute;
}
.front {
    z-index: 2;
}
.back {
    z-index: 1;
    transform: rotateY(180deg);
    background-color: #000000;
    transform: background-color 1s ease-in;
    color: aliceblue;
}